# =========================
# MongoDB
# =========================
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=adminpassword
MONGO_INITDB_DATABASE=travila

# Mongo connection URI (used by backend)
MONGO_URI=mongodb://admin:adminpassword@mongodb:27017/travila?authSource=admin


# =========================
# Backend (Node.js / Express)
# =========================
NODE_ENV=development

JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=your_jwt_refresh_secret


# =========================
# Frontend (Next.js / React)
# =========================
NEXT_PUBLIC_API_URL=http://localhost:3001
